In [28]:
import pandas as pd
import numpy as np

## Load POI data

In [29]:
original_file = pd.read_csv('data/SIMD_POI.csv')

In [30]:
original_file.head()

,OID_,Join_Count,TARGET_FID,ref_no,name,pointx_class,groupname,categoryname,classname,feature_easting,...,CrimeRate,CrimeRank,HouseNumOC,HouseNumNC,HouseOCrat,HouseNCrat,HouseRank,Shape_Leng,HlthMental,Field1
0,1,1,1,18658846,Statue,3170245,Attractions,Historical and Cultural,Historic and Ceremonial Structures,257192.0,...,353.0,1798.0,162.0,24.0,20%,3%,821.0,5355.300810,10.0,0.0
1,2,1,2,18658850,Statue,3170245,Attractions,Historical and Cultural,Historic and Ceremonial Structures,259316.0,...,656.0,579.0,353.0,103.0,35%,10%,60.0,4109.183774,7.0,0.0
2,3,1,3,18658851,Statue,3170245,Attractions,Historical and Cultural,Historic and Ceremonial Structures,259330.0,...,656.0,579.0,353.0,103.0,35%,10%,60.0,4109.183774,7.0,0.0
3,4,1,4,17163656,Flagstaff,3170245,Attractions,Historical and Cultural,Historic and Ceremonial Structures,258393.0,...,455.0,1211.0,194.0,27.0,24%,3%,495.0,1954.325897,17.0,0.0
4,5,1,5,17163664,Flagstaff,3170245,Attractions,Historical and Cultural,Historic and Ceremonial Structures,255668.0,...,159.0,4031.0,75.0,20.0,8%,2%,3784.0,2917.996937,14.0,0.0

## Data Processing

### Data cleaning and filtering

In [31]:
# Select columns
df = original_file[['Join_Count','groupname','categoryname','classname','DataZone','Percentv2','SAPE2017']]

In [32]:
df['groupname'].unique()

array(['Attractions', 'Public Infrastructure', 'Education and Health',
       'Sport and Entertainment', 'Commercial Services',
       'Manufacturing and Production',
       'Accommodation, Eating and Drinking', 'Transport', 'Retail'],
      dtype=object)

#### Attractions

In [33]:
# Attractions
df[df['groupname'] == 'Attractions']['categoryname'].unique()

array(['Historical and Cultural', 'Landscape Features', 'Tourism',
       'Recreational', 'Botanical and Zoological', 'Bodies Of Water'],
      dtype=object)

In [34]:
df[df['groupname'] == 'Attractions']['classname'].unique() #感觉可以保留所有

array(['Historic and Ceremonial Structures', 'Designated Scenic Features',
       'Archaeological Sites',
       'Historic Buildings Including Castles, Forts and Abbeys',
       'Trigonometric Points', 'Battlefields', 'Museums',
       'Siteseeing, Tours, Viewing and Visitor Centres',
       'Historical Ships', 'Art Galleries', 'Information Centres',
       'Municipal Parks and Gardens', 'Horticultural Attractions',
       'Laseria, Observatories and Planetaria',
       'Railways (Heritage, Steam and Miniature)',
       'Farm Based Attractions', 'Lakes and Waters', 'Lochs and Lochans',
       'Theme and Adventure Parks', 'Reservoirs', 'Playgrounds',
       'Country and National Parks',
       'Bird Reserves, Collections and Sanctuaries',
       'Zoos and Animal Collections', 'Unspecified and Other Attractions'],
      dtype=object)

#### Public Infrastructure

In [35]:
df[df['groupname'] == 'Public Infrastructure']['classname'].unique()
# Remove：'Wifi Hotspots','Waste Storage, Processing and Disposal','Letter Boxes','Recycling Centres','Refuse Disposal Facilities','Meteorological Features','Gas Features','Drinking Fountains and Water Points'

array(['Places Of Worship', 'Courts, Court Services and Tribunals',
       'Police Stations', 'Fire Brigade Stations', 'Electrical Features',
       'Wifi Hotspots', 'Charitable Organisations', 'Youth Organisations',
       'Driving Test Centres', 'Fan Clubs and Associations',
       'Sports Clubs and Associations', 'Social Service Activities',
       'Political Parties and Related Organisations',
       'Halls and Community Centres',
       'Institutes and Professional Organisations', 'Allotments',
       'Community Networks and Projects', 'Telecommunications Companies',
       'Job Centres', 'Local Government', 'Central Government',
       'Waste Storage, Processing and Disposal',
       'Utility Companies and Brokers', 'Armed Services',
       'Consular Services', 'Conservation Organisations',
       'Animal Welfare Organisations', 'Embassies and Consulates',
       'Religious Organisations', 'Libraries',
       'Probation Offices and Police Support Services',
       'Cemeteries and Crematoria', 'Registrars Offices', 'Prisons',
       'Coastal Safety',
       'Members Of Parliament and Members Of European Parliament',
       'Letter Boxes', 'Telecommunications Features', 'Public Toilets',
       'Recycling Centres', 'Gas Features',
       'Drinking Fountains and Water Points',
       'Refuse Disposal Facilities', 'Meteorological Features'],
      dtype=object)

In [36]:

b = ['Wifi Hotspots','Waste Storage, Processing and Disposal','Letter Boxes','Recycling Centres','Refuse Disposal Facilities','Meteorological Features','Gas Features','Drinking Fountains and Water Points']
df = df[~df['classname'].isin(b)]
df.shape

(27839, 7)

#### Education and Health

In [37]:
df[df['groupname'] == 'Education and Health']['classname'].unique()
#worth keeping

array(['Doctors Surgeries', 'Hospitals', 'Clinics and Health Centres',
       'Mental Health Centres and Practitioners',
       'Chemists and Pharmacies', 'Nursing and Residential Care Homes',
       'Dental Surgeries', 'Optometrists and Opticians',
       'Accident and Emergency Hospitals', 'Health Authorities',
       'Foot Related Services', 'Dieticians and Nutritionists',
       'Pregnancy Related Services and Help Centres',
       'Counselling and Advice Services',
       'First, Primary and Infant Schools',
       'Special Schools and Colleges',
       'Broad Age Range and Secondary State Schools',
       'Independent and Preparatory Schools', 'Homeopaths',
       'Nursery Schools and Pre and After School Care',
       'Day and Care Centres', 'Dental Technicians',
       'Training Providers and Centres',
       'Ambulance and Medical Transportation Services',
       'Physical Therapy', 'Alternative, Natural and Complementary',
       'Animal Clipping and Grooming', 'Hospices', 'Education Services',
       'Driving and Motorcycle Schools',
       'Veterinarians and Animal Hospitals', 'Language Schools',
       'Surgeons and Cosmetic Surgeries', 'Drama Schools',
       'Ballet and Dance Schools', 'Music Teachers and Schools',
       'Beauty and Hairdressing Schools', 'Martial Arts Instruction',
       'First Aid Training', 'Higher Education Establishments',
       'Dental and Medical Laboratories', 'Kennels and Catteries',
       'Education Authorities', 'Blood Transfusion Service',
       'Speech Therapists', 'Sports and Fitness Coaching',
       'Further Education Establishments', 'Veterinary Pharmacies',
       'Medical Equipment Rental and Leasing'], dtype=object)

#### Commercial Services

In [38]:
df[df['groupname'] == 'Commercial Services']['classname'].unique()
#keep

array(['Headquarters, Administration and Central Offices',
       'Cash Machines', 'Estate and Property Management',
       'Railway Related Services', 'Business Related Consultants',
       'Employment Agencies', 'Design Services',
       'Marine Engineers and Services',
       'Currency Conversion and Money Transfers',
       'Distribution and Haulage',
       'Sound, Light and Vision Service and Equipment Hire',
       'Airlines and Airline Services',
       'Vehicle Repair, Testing and Servicing',
       'Hair and Beauty Services', 'Construction Completion Services',
       'Building Contractors',
       'Gardening, Landscaping and Tree Surgery Services',
       'Household Repairs and Restoration', 'Advertising Services',
       'Vehicle Breakdown and Recovery Services',
       'Electrical Equipment Repair and Servicing',
       'Accountants and Auditors', 'Computer Systems Services',
       'Computer Consultants', 'Import and Export Services',
       'Vehicle Cleaning Services', 'Mortgage and Financial Lenders',
       'Recording Studios and Record Companies', 'Photographic Services',
       'Telecommunications Consultants',
       'Event Ticket Agents and Box Office',
       'Concert/Exhibition Organisers and Services',
       'Fundraising Services', 'Spas', 'Wedding Services',
       'Bouncy Castles and Inflatables Hire',
       'Artists, Illustrators and Calligraphers',
       'Property Development Services', 'Construction and Tool Hire',
       'Vehicle Hire and Rental', 'Metalworkers Including Blacksmiths',
       'Mechanical Engineers', 'Roofing and Chimney Services',
       'Sculptors, Wood Workers and Stone Masons',
       'Electrical Contractors', 'Plumbing and Heating Services',
       'Industrial Engineers', 'Demolition Services',
       'Feng Shui Consultants, Furnishers and Shop Fitters',
       'Internet Services', 'Container and Storage',
       'Painting and Decorating Services', 'Glaziers', 'Plasterers',
       'Architectural and Building Related Consultants',
       'Restoration and Preservation Services',
       'Road Construction Services', 'Civil Engineers',
       'Testing and Analysis Services',
       'Interpretation and Translation Consultants',
       'Property Information Services', 'Security Consultants',
       'Aviation Engineers', 'Property Letting', 'Nursing Agencies',
       'Domestic Staff and Home Help',
       'Modelling and Theatrical Agencies', 'Image Consultants',
       'Construction Service Consultants', 'Building Repairs',
       'Structural Engineers', 'Precision Engineers',
       'Courier, Delivery and Messenger', 'Television and Radio Services',
       'Electrical and Electronic Engineers',
       'Contract Cleaning Services', 'Catering Services',
       'Pest and Vermin Control', 'Cleaning Services',
       'Film and Video Services', 'Linen Hire and Washroom Services',
       'Drain and Sewage Clearance', 'Leisure Equipment Hirings',
       'Window Cleaners', 'Marketing Services',
       'Financial Advice Services', 'Literary Services',
       'Auctioneers, Auction Rooms and Valuers',
       'Plate Makers, Print Finishers and Type Setters',
       'Press and Journalism Services',
       'Mailing and Other Information Services',
       'Solicitors, Advocates and Notaries Public',
       'Commercial Property Letting', 'Banks and Building Societies',
       'Printing and Photocopying Services', 'Debt Collecting Agencies',
       'Office Services', 'Insurers and Support Activities',
       'Pawnbrokers', 'Pension and Fund Management',
       'Astrologers, Clairvoyants and Palmists',
       'Lock, Key and Security Services',
       'Funeral and Associated Services',
       'Introduction and Dating Agencies', 'Removals and Shipping Agents',
       'Detective and Investigation Agencies', 'Personalisation',
       'Tailoring and Clothing Alteration', 'Slimming Clubs and Services',
       'Party Organisers', 'Tattooing and Piercing Services',
       'Property Sales', 'Scrap Metal Dealers and Breakers Yards',
       'Recycling, Reclamation and Disposal',
       'Industrial Repairs and Servicing',
       'Sports and Leisure Equipment Repair',
       'Service Industry Equipment Repairs', 'Tool Repairs',
       'Customer Service Centres', 'Research Services', 'Taxi Services',
       'Building and Component Suppliers', 'Shoe Repairs',
       'Musicians, Orchestras and Composers',
       'Stocks, Shares and Unit Trusts', 'Copyright and Patent',
       'Clearance and Salvage Dealers', 'Database Services',
       'Clothing Hire', 'Company Registration and Trademarks',
       'Diving Services', 'Trophies and Engraving Services',
       'Hydraulic Engineers', 'Telephone, Telex and Fax Services',
       'Rag Merchants',
       'Traffic Management and Transport Related Consultants',
       'Historical Research', 'Instrumentation Engineers',
       'Construction Plant', 'Sports Services',
       'Cutting, Drilling  and Welding Services', 'Weather Services',
       'Electronic and Internet Publishers',
       'Pool and Court Construction',
       'Careers Offices and Armed Forces Recruitment',
       'General Computer Services',
       'Fencing and Drystone Walling Services', 'Computer Security',
       'Boat Hiring Services', 'Credit Reference Agencies',
       'Sewage Services', 'Paypoint Locations', 'Printing On Garments',
       'Driver Agencies'], dtype=object)

#### Manufacturing and Production

In [39]:
df[df['groupname'] == 'Manufacturing and Production']['classname'].unique()
#keep

array(['Medical Equipment, Supplies and Pharmaceuticals',
       'Energy Production', 'Catering and Non Specific Food Products',
       'Workwear', 'Clothing, Components and Accessories',
       'Jewellery, Gems, Clocks and Watches',
       'Fish, Meat and Poultry Products', 'General Construction Supplies',
       'Cosmetics, Toiletries and Perfumes',
       'Carpets, Flooring, Rugs and Soft Furnishings',
       'Fireplaces and Mantelpieces',
       'Measurement and Inspection Equipment', 'Vehicles', 'Glass',
       'Wood Products Including Charcoal, Paper, Card and Board',
       'Lampshades and Lighting', 'Office and Shop Equipment',
       'Marine Equipment Including Boats and Ships',
       'Animal Feeds, Pet Foods, Hay and Straw',
       'Industrial Coatings and Finishings', 'Baking and Confectionery',
       'Electronic Equipment', 'Food and Beverage Industry Machinery',
       'Metals Manufacturers, Fabricators and Stockholders',
       'Special Purpose Machinery and Equipment',
       'Cable, Wire and Fibre Optics', 'Cleaning Equipment and Supplies',
       'Garden Goods', 'Vehicle Components',
       'Baby, Nursery and Playground Equipment',
       'Lifting and Handling Equipment', 'Tools Including Machine Shops',
       'Electrical Components', 'Published Goods', 'Packaging',
       'Paints, Varnishes and Lacquers', 'Cooling and Refrigeration',
       'Disability and Mobility Equipment', 'Dairy Farming',
       'Dairy Products', 'Curtains and Blinds', 'Furniture',
       'Hobby, Sports and Pastime Products',
       'Photographic and Optical Equipment', 'Giftware', 'Ore Mining',
       'Musical Instruments', 'Leather Products', 'Candles',
       'Saunas and Sunbeds', 'Beds and Bedding',
       'Textiles, Fabrics, Silk and Machinery',
       'Colours, Chemicals and Water Softeners and Supplies',
       'Concrete Products',
       'Bathroom Fixtures, Fittings and Sanitary Equipment',
       'General Purpose Machinery',
       'Business Parks and Industrial Estates',
       'Bearing, Gear and Drive Elements', 'Alcoholic Drinks',
       'General Manufacturing', 'Non Alcoholic Drinks', 'Signs',
       'Electrical Production and Manipulation Equipment',
       'Rubber, Silicones and Plastics',
       'Radar and Telecommunications Equipment',
       'Ropes, Nets and Cordage', 'Pumps and Compressors',
       'Air and Water Filtration', 'Electronic Media',
       'Printing Related Machinery', 'Access Equipment',
       'Glass Fibre Services', 'Educational Equipment and Supplies',
       'Moulds, Dies and Castings', 'Disposable Products',
       'Medals, Trophies, Ceremonial and Religious Goods',
       'Shelving, Storage, Safes and Vaults', 'Ice',
       'Oil and Gas Extraction, Refinery and Product Manufacture',
       'Electrical Motors and Generators', 'Forestry',
       'Horticultural Equipment',
       'Abrasive Products and Grinding Equipment',
       'Stone Quarrying and Preparation', 'Lingerie and Hosiery',
       'Fruit, Flower and Vegetable Growers',
       'Fences, Gates and Railings', 'Conservatories',
       'Seals, Tapes, Taps and Valves',
       'Cookers and Stoves - Non Electrical',
       'Animal Breeders (Not Horses)', 'Pesticides',
       'Adhesives and Sealants', 'Milling, Refining and Food Additives',
       'Stationery, Stamps, Tags and Labels',
       'Bricks, Tiles, Clay and Ceramic Products',
       'Unspecified Works Or Factories', 'Water Pumping Stations',
       'Unspecified Quarries Or Mines'], dtype=object)

#### Accommodation, Eating and Drinking

In [40]:
df[df['groupname'] == 'Accommodation, Eating and Drinking']['classname'].unique() #nothing to clean

array(['Cafes, Snack Bars and Tea Rooms',
       'Bed and Breakfast and Backpacker Accommodation',
       'Hotels, Motels, Country Houses and Inns',
       'Hostels and Refuges For The Homeless',
       'Fast Food and Takeaway Outlets', 'Restaurants',
       'Pubs, Bars and Inns', 'Banqueting and Function Rooms',
       'Fish and Chip Shops', 'Fast Food Delivery Services',
       'Internet Cafes', 'Youth Accommodation', 'Self Catering',
       'Camping, Caravanning, Mobile Homes, Holiday Parks and Centres'],
      dtype=object)

#### Retail

In [41]:
df[df['groupname'] == 'Retail']['classname'].unique() #nothing to clean

array(['Bakeries', 'Delicatessens', 'Post Offices',
       'Convenience Stores and Independent Supermarkets',
       'Hobby, Sports and Pastime Products', 'Clothing',
       "Baby and Nursery Equipment and Children'S Clothes",
       'Department Stores',
       'Carpets, Rugs, Soft Furnishings and Needlecraft',
       'Jewellery and Fashion Accessories', 'Footwear', 'Butchers',
       'Confectioners', 'Fishmongers',
       'Grocers, Farm Shops and Pick Your Own', 'Lingerie and Hosiery',
       'Organic, Health, Gourmet and Kosher Foods', 'Frozen Foods',
       'Vehicle Parts and Accessories',
       'Cosmetics, Toiletries, Perfumes and Hairdressing Supplies',
       'Books and Maps', 'Stationery and Office Supplies',
       'Party Goods and Novelties', 'Comics Bookshops',
       'Diy and Home Improvement', 'Gifts and Cards',
       'General Household Goods',
       'Garages, Garden and Portable Buildings', 'Craft Supplies',
       'Cycles and Accessories', 'Camping and Caravanning',
       'Garden Centres and Nurseries', 'Furniture',
       'Pets, Supplies and Services', 'Music and Video',
       'Musical Instruments', 'Lighting', 'Art and Antiques',
       'Travel Agencies', 'New Vehicles', 'Secondhand Vehicles',
       'Vehicle Auctions', 'Discount Stores',
       'Alcoholic Drinks Including Off Licences and Wholesalers',
       'Supermarket Chains', 'Shopping Centres and Retail Parks',
       'Mail Order and Catalogue Stores', 'Charity Shops', 'Florists',
       'Secondhand Goods', 'Domestic Appliances', 'Cash and Carry',
       'Telephones and Telephone Cards',
       'Electrical Goods and Components', 'Surplus Goods',
       'Tea and Coffee Merchants', 'Fuel Distributors and Suppliers',
       'Leather Goods, Luggage and Travel Accessories Including Handbags',
       'Markets', 'Computer Shops', 'Photographic and Optical Equipment',
       'Green and New Age Goods', 'Computer Supplies', 'Potteries'],
      dtype=object)

#### Sport and Entertainment

In [42]:
df[df['groupname'] == 'Sport and Entertainment']['classname'].unique()

array(['Swimming Pools', 'Sports Grounds, Stadia and Pitches',
       'Gymnasiums, Sports Halls and Leisure Centres',
       'Bowling Facilities', 'Tennis Facilities', 'Squash Courts',
       'Golf Ranges, Courses, Clubs and Professionals',
       'Athletics Facilities', 'Velodromes', 'Climbing Facilities',
       'Conference and Exhibition Centres', 'Nightclubs', 'Social Clubs',
       'Theatres and Concert Halls', 'Bingo Halls',
       'Ski Infrastructure and Aerial Cableways',
       'Entertainment Services', 'Bookmakers', 'Casinos',
       'Snooker and Pool Halls', 'Cinemas', 'Amusement Parks and Arcades',
       "Children'S Activity Centres", 'Adult Venues', 'Mobile Discos',
       'Outdoor Pursuit Organisers and Equipment',
       'Firework Related Services', 'Combat, Laser and Paintball Games',
       'Watersports',
       'Riding Schools, Livery Stables and Equestrian Centres',
       'Motorsport Services', 'Motorsport Venues'], dtype=object)

#### Transport

In [43]:
df[df['groupname'] == 'Transport']['categoryname'].unique()

array(['Bus Transport', 'Water',
       'Public Transport, Stations and Infrastructure', 'Road and Rail',
       'Walking', 'Air'], dtype=object)

In [44]:
df[df['categoryname'] == 'Bus Transport']['classname'].unique()  #'Hail and Ride Zones'

df[df['categoryname'] == 'Water']['classname'].unique() 
#'Rivers and Canal Organisations and Infrastructure', 'Aqueducts','Weirs, Sluices and Dams', 'Locks'，

df[df['categoryname'] == 'Public Transport, Stations and Infrastructure']['classname'].unique() #Junctions and Halts', 'Depots and Companies'可以清理

df[df['categoryname'] == 'Road and Rail']['classname'].unique()
#'Cattle Grids','Fords and Level Crossings', 'Bridges', 'Viaducts', 'Weighbridges','Signalling Facilities',

df[df['categoryname'] == 'Walking']['classname'].unique() #clean 'Footbridges'

df[df['categoryname'] == 'Air']['classname'].unique() #keep

array(['Helipads'], dtype=object)

#### Filter

In [45]:
a = ['Cattle Grids','Fords and Level Crossings', 'Bridges', 
     'Viaducts', 'Weighbridges','Signalling Facilities',
     'Rivers and Canal Organisations and Infrastructure', 
     'Aqueducts','Weirs, Sluices and Dams', 'Locks','Footbridges',
     'Hail and Ride Zones','Junctions and Halts', 'Depots and Companies']
df = df[~df['classname'].isin(a)]
df.shape

(27102, 7)

In [46]:
print(df.groupby('DataZone')['groupname'])

<pandas.core.groupby.generic.SeriesGroupBy object at 0x7f9498f1db40>

### Join POI data to SIMD data

In [47]:
original_file2 = pd.read_csv('data/POI_Count.csv')

In [48]:
original_file2.columns

Index(['OID_', 'Join_Count', 'TARGET_FID', 'DataZone', 'DZName', 'LAName',
       'SAPE2017', 'WAPE2017', 'Rankv2', 'Quintilev2', 'Decilev2',
       'Vigintilv2', 'Percentv2', 'IncRate', 'IncNumDep', 'IncRankv2',
       'EmpRate', 'EmpNumDep', 'EmpRank', 'HlthCIF', 'HlthAlcSR', 'HlthDrugSR',
       'HlthSMR', 'HlthDprsPc', 'HlthLBWTPc', 'HlthEmergS', 'HlthRank',
       'EduAttend', 'EduAttain', 'EduNoQuals', 'EduPartici', 'EduUniver',
       'EduRank', 'GAccPetrol', 'GAccDTGP', 'GAccDTPost', 'GAccDTPsch',
       'GAccDTSsch', 'GAccDTRet', 'GAccPTGP', 'GAccPTPost', 'GAccPTRet',
       'GAccBrdbnd', 'GAccRank', 'CrimeCount', 'CrimeRate', 'CrimeRank',
       'HouseNumOC', 'HouseNumNC', 'HouseOCrat', 'HouseNCrat', 'HouseRank',
       'Shape_Leng', 'HlthMental', 'Field1', 'ref_no', 'name', 'pointx_class',
       'groupname', 'categoryname', 'classname', 'feature_easting',
       'feature_northing', 'pos_accuracy', 'uprn', 'topo_toid',
       'topo_toid_version', 'usrn', 'usrn_mi', 'distance', 'address_detail',
       'street_name', 'locality', 'geographic_county', 'postcode',
       'admin_boundary', 'telephone_number', 'url', 'brand', 'qualifier_type',
       'qualifier_data', 'provenance', 'supply_date', 'Shape_Length',
       'Shape_Area'],
      dtype='object')

In [49]:
df2 = original_file2[['Join_Count','DataZone','Shape_Area']]

In [50]:
df2.head()

   Join_Count   DataZone     Shape_Area
0           2  S01009758   78490.309008
1          20  S01009759  136091.515542
2          72  S01009760  332345.088422
3           8  S01009761  156078.015080
4          20  S01009762  150737.851165

In [51]:
df2.sort_values('Join_Count',ascending = False)

     Join_Count   DataZone     Shape_Area
517        1918  S01010275  530741.034427
516         600  S01010274  233139.344025
502         393  S01010260  322943.553618
509         309  S01010267  115264.122760
274         282  S01010032  884133.122300
..          ...        ...            ...
615           1  S01010373   48856.723161
57            1  S01009815   78047.048404
672           1  S01010430   69822.325599
679           1  S01010437   98425.346441
448           0  S01010206   18204.117914

[746 rows x 3 columns]

In [52]:
df2['poi_ratio'] = df2['Join_Count']/df2['Shape_Area']*1000000 #每km2 POI的数量
df2

/var/folders/74/ch5llxvd3klg6n6_l6_s335w0000gn/T/ipykernel_55782/3883684133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['poi_ratio'] = df2['Join_Count']/df2['Shape_Area']*1000000 #每km2 POI的数量

     Join_Count   DataZone     Shape_Area   poi_ratio
0             2  S01009758   78490.309008   25.480853
1            20  S01009759  136091.515542  146.959933
2            72  S01009760  332345.088422  216.642287
3             8  S01009761  156078.015080   51.256418
4            20  S01009762  150737.851165  132.680676
..          ...        ...            ...         ...
741          76  S01010499  244941.600066  310.278042
742          28  S01010500  218303.033646  128.262075
743          19  S01010501  233830.299216   81.255509
744           8  S01010502  241424.225068   33.136691
745          34  S01010503  204458.577799  166.292852

[746 rows x 4 columns]

In [53]:
df2.sort_values('poi_ratio', ascending = True)

     Join_Count   DataZone    Shape_Area    poi_ratio
448           0  S01010206  1.820412e+04     0.000000
587          45  S01010345  6.939901e+06     6.484243
679           1  S01010437  9.842535e+04    10.159985
329           1  S01010087  9.765829e+04    10.239786
35           13  S01009793  1.095028e+06    11.871846
..          ...        ...           ...          ...
516         600  S01010274  2.331393e+05  2573.568192
505         146  S01010263  5.618789e+04  2598.424882
509         309  S01010267  1.152641e+05  2680.799477
507         208  S01010265  6.858430e+04  3032.764219
517        1918  S01010275  5.307410e+05  3613.815167

[746 rows x 4 columns]

In [54]:
#merge
df_poi = pd.merge(df, df2, on='DataZone')
df_poi

,Join_Count_x,groupname,categoryname,classname,DataZone,Percentv2,SAPE2017,Join_Count_y,Shape_Area,poi_ratio
0,1,Attractions,Historical and Cultural,Historic and Ceremonial Structures,S01010384,89.0,1538.0,98,466126.211438,210.243487
1,1,Public Infrastructure,Infrastructure and Facilities,Places Of Worship,S01010384,89.0,1538.0,98,466126.211438,210.243487
2,1,Attractions,Historical and Cultural,Historic and Ceremonial Structures,S01010384,89.0,1538.0,98,466126.211438,210.243487
3,1,Attractions,Historical and Cultural,Historic and Ceremonial Structures,S01010384,89.0,1538.0,98,466126.211438,210.243487
4,1,Attractions,Historical and Cultural,Historic and Ceremonial Structures,S01010384,89.0,1538.0,98,466126.211438,210.243487
...,...,...,...,...,...,...,...,...,...,...
27053,1,Public Infrastructure,Infrastructure and Facilities,Electrical Features,S01010309,15.0,318.0,2,102464.228956,19.519007
27054,1,Attractions,Recreational,Playgrounds,S01010309,15.0,318.0,2,102464.228956,19.519007
27055,1,Public Infrastructure,Infrastructure and Facilities,Electrical Features,S01010087,63.0,542.0,1,97658.289661,10.239786
27056,1,Public Infrastructure,Infrastructure and Facilities,Electrical Features,S01010430,13.0,937.0,1,69822.325599,14.322067
27057,1,Attractions,Tourism,Unspecified and Other Attractions,S01010373,83.0,870.0,1,48856.723161,20.468012

In [55]:
df_poi

,Join_Count_x,groupname,categoryname,classname,DataZone,Percentv2,SAPE2017,Join_Count_y,Shape_Area,poi_ratio
0,1,Attractions,Historical and Cultural,Historic and Ceremonial Structures,S01010384,89.0,1538.0,98,466126.211438,210.243487
1,1,Public Infrastructure,Infrastructure and Facilities,Places Of Worship,S01010384,89.0,1538.0,98,466126.211438,210.243487
2,1,Attractions,Historical and Cultural,Historic and Ceremonial Structures,S01010384,89.0,1538.0,98,466126.211438,210.243487
3,1,Attractions,Historical and Cultural,Historic and Ceremonial Structures,S01010384,89.0,1538.0,98,466126.211438,210.243487
4,1,Attractions,Historical and Cultural,Historic and Ceremonial Structures,S01010384,89.0,1538.0,98,466126.211438,210.243487
...,...,...,...,...,...,...,...,...,...,...
27053,1,Public Infrastructure,Infrastructure and Facilities,Electrical Features,S01010309,15.0,318.0,2,102464.228956,19.519007
27054,1,Attractions,Recreational,Playgrounds,S01010309,15.0,318.0,2,102464.228956,19.519007
27055,1,Public Infrastructure,Infrastructure and Facilities,Electrical Features,S01010087,63.0,542.0,1,97658.289661,10.239786
27056,1,Public Infrastructure,Infrastructure and Facilities,Electrical Features,S01010430,13.0,937.0,1,69822.325599,14.322067
27057,1,Attractions,Tourism,Unspecified and Other Attractions,S01010373,83.0,870.0,1,48856.723161,20.468012

In [56]:
df_poi.groupby('DataZone')['Join_Count_x'].sum()

DataZone
S01009758     2
S01009759    17
S01009760    71
S01009761     7
S01009762    19
             ..
S01010499    72
S01010500    18
S01010501    16
S01010502     6
S01010503    32
Name: Join_Count_x, Length: 745, dtype: int64

### Compute POI diversity

In [57]:
df_poi_category=df_poi.groupby('DataZone')['categoryname'].value_counts()
df_poi_category.head(50)

DataZone   categoryname
S01009758  Construction Services                            1
           Health Practitioners and Establishments          1
S01009759  Bus Transport                                    7
           Recreational                                     3
           Infrastructure and Facilities                    2
           Sports Complex                                   2
           Construction Services                            1
           Primary, Secondary and Tertiary Education        1
           Recreational and Vocational Education            1
S01009760  Bus Transport                                    8
           Construction Services                            8
           Industrial Products                              7
           Infrastructure and Facilities                    7
           Repair and Servicing                             6
           Household, Office, Leisure and Garden            4
           Recreational and Vocational Education            4
           Transport, Storage and Delivery                  4
           Engineering Services                             3
           Legal and Financial                              3
           Personal, Consumer and Other Services            3
           Property and Development Services                3
           Research and Design                              2
           Animal Welfare                                   1
           Consumer Products                                1
           Eating and Drinking                              1
           Food, Drink and Multi Item Retail                1
           Health Support Services                          1
           Hire Services                                    1
           Industrial Features                              1
           It, Advertising, Marketing and Media Services    1
           Sports Complex                                   1
S01009761  Bus Transport                                    2
           Construction Services                            1
           Consultancies                                    1
           Consumer Products                                1
           Infrastructure and Facilities                    1
           Recreational                                     1
S01009762  Bus Transport                                    3
           Health Practitioners and Establishments          3
           Eating and Drinking                              2
           Food, Drink and Multi Item Retail                2
           Infrastructure and Facilities                    2
           Legal and Financial                              2
           Central and Local Government                     1
           Health Support Services                          1
           Household, Office, Leisure and Garden            1
           Personal, Consumer and Other Services            1
           Recreational                                     1
S01009763  Infrastructure and Facilities                    2
           Construction Services                            1
Name: categoryname, dtype: int64

In [58]:

df_poi_category = pd.DataFrame(df_poi_category)
df_poi_category.rename(columns = {'categoryname':'count'}, inplace = True)
df_poi_category.head(20)

                                                     count
DataZone  categoryname
S01009758 Construction Services                          1
          Health Practitioners and Establishments        1
S01009759 Bus Transport                                  7
          Recreational                                   3
          Infrastructure and Facilities                  2
          Sports Complex                                 2
          Construction Services                          1
          Primary, Secondary and Tertiary Education      1
          Recreational and Vocational Education          1
S01009760 Bus Transport                                  8
          Construction Services                          8
          Industrial Products                            7
          Infrastructure and Facilities                  7
          Repair and Servicing                           6
          Household, Office, Leisure and Garden          4
          Recreational and Vocational Education          4
          Transport, Storage and Delivery                4
          Engineering Services                           3
          Legal and Financial                            3
          Personal, Consumer and Other Services          3

In [59]:
df_poi_category_1 = df_poi_category.reset_index("categoryname")

In [60]:
df_poi_category_1

                                      categoryname  count
DataZone
S01009758                    Construction Services      1
S01009758  Health Practitioners and Establishments      1
S01009759                            Bus Transport      7
S01009759                             Recreational      3
S01009759            Infrastructure and Facilities      2
...                                            ...    ...
S01010503  Health Practitioners and Establishments      1
S01010503                  Health Support Services      1
S01010503                  Historical and Cultural      1
S01010503                            Organisations      1
S01010503          Transport, Storage and Delivery      1

[8288 rows x 2 columns]

In [61]:
df_poi_category_1.index
dz_list = list(df_poi_category_1.index)
dz_list = list(dict.fromkeys(dz_list))
dz_list

['S01009758',
 'S01009759',
 'S01009760',
 'S01009761',
 'S01009762',
 'S01009763',
 'S01009764',
 'S01009765',
 'S01009766',
 'S01009767',
 'S01009768',
 'S01009769',
 'S01009770',
 'S01009771',
 'S01009772',
 'S01009773',
 'S01009774',
 'S01009775',
 'S01009776',
 'S01009777',
 'S01009778',
 'S01009779',
 'S01009780',
 'S01009781',
 'S01009782',
 'S01009783',
 'S01009784',
 'S01009785',
 'S01009786',
 'S01009787',
 'S01009788',
 'S01009789',
 'S01009790',
 'S01009791',
 'S01009792',
 'S01009793',
 'S01009794',
 'S01009795',
 'S01009796',
 'S01009797',
 'S01009798',
 'S01009799',
 'S01009800',
 'S01009801',
 'S01009802',
 'S01009803',
 'S01009804',
 'S01009805',
 'S01009806',
 'S01009807',
 'S01009808',
 'S01009809',
 'S01009810',
 'S01009811',
 'S01009812',
 'S01009813',
 'S01009814',
 'S01009815',
 'S01009816',
 'S01009817',
 'S01009818',
 'S01009819',
 'S01009820',
 'S01009821',
 'S01009822',
 'S01009823',
 'S01009824',
 'S01009825',
 'S01009826',
 'S01009827',
 'S01009828',
 'S01009829',
 'S01009830',
 'S01009831',
 'S01009832',
 'S01009833',
 'S01009834',
 'S01009835',
 'S01009836',
 'S01009837',
 'S01009838',
 'S01009839',
 'S01009840',
 'S01009841',
 'S01009842',
 'S01009843',
 'S01009844',
 'S01009845',
 'S01009846',
 'S01009847',
 'S01009848',
 'S01009849',
 'S01009850',
 'S01009851',
 'S01009852',
 'S01009853',
 'S01009854',
 'S01009855',
 'S01009856',
 'S01009857',
 'S01009858',
 'S01009859',
 'S01009860',
 'S01009861',
 'S01009862',
 'S01009863',
 'S01009864',
 'S01009865',
 'S01009866',
 'S01009867',
 'S01009868',
 'S01009869',
 'S01009870',
 'S01009871',
 'S01009872',
 'S01009873',
 'S01009874',
 'S01009875',
 'S01009876',
 'S01009877',
 'S01009878',
 'S01009879',
 'S01009880',
 'S01009881',
 'S01009882',
 'S01009883',
 'S01009884',
 'S01009885',
 'S01009886',
 'S01009887',
 'S01009888',
 'S01009889',
 'S01009890',
 'S01009891',
 'S01009892',
 'S01009893',
 'S01009894',
 'S01009895',
 'S01009896',
 'S01009897',
 'S01009898',
 'S01009899',
 'S01009900',
 'S01009901',
 'S01009902',
 'S01009903',
 'S01009904',
 'S01009905',
 'S01009906',
 'S01009907',
 'S01009908',
 'S01009909',
 'S01009910',
 'S01009911',
 'S01009912',
 'S01009913',
 'S01009914',
 'S01009915',
 'S01009916',
 'S01009917',
 'S01009918',
 'S01009919',
 'S01009920',
 'S01009921',
 'S01009922',
 'S01009923',
 'S01009924',
 'S01009925',
 'S01009926',
 'S01009927',
 'S01009928',
 'S01009929',
 'S01009930',
 'S01009931',
 'S01009932',
 'S01009933',
 'S01009934',
 'S01009935',
 'S01009936',
 'S01009937',
 'S01009938',
 'S01009939',
 'S01009940',
 'S01009941',
 'S01009942',
 'S01009943',
 'S01009944',
 'S01009945',
 'S01009946',
 'S01009947',
 'S01009948',
 'S01009949',
 'S01009950',
 'S01009951',
 'S01009952',
 'S01009953',
 'S01009954',
 'S01009955',
 'S01009956',
 'S01009957',
 'S01009958',
 'S01009959',
 'S01009960',
 'S01009961',
 'S01009962',
 'S01009963',
 'S01009964',
 'S01009965',
 'S01009966',
 'S01009967',
 'S01009968',
 'S01009969',
 'S01009970',
 'S01009971',
 'S01009972',
 'S01009973',
 'S01009974',
 'S01009975',
 'S01009976',
 'S01009977',
 'S01009978',
 'S01009979',
 'S01009980',
 'S01009981',
 'S01009982',
 'S01009983',
 'S01009984',
 'S01009985',
 'S01009986',
 'S01009987',
 'S01009988',
 'S01009989',
 'S01009990',
 'S01009991',
 'S01009992',
 'S01009993',
 'S01009994',
 'S01009995',
 'S01009996',
 'S01009997',
 'S01009998',
 'S01009999',
 'S01010000',
 'S01010001',
 'S01010002',
 'S01010003',
 'S01010004',
 'S01010005',
 'S01010006',
 'S01010007',
 'S01010008',
 'S01010009',
 'S01010010',
 'S01010011',
 'S01010012',
 'S01010013',
 'S01010014',
 'S01010015',
 'S01010016',
 'S01010017',
 'S01010018',
 'S01010019',
 'S01010020',
 'S01010021',
 'S01010022',
 'S01010023',
 'S01010024',
 'S01010025',
 'S01010026',
 'S01010027',
 'S01010028',
 'S01010029',
 'S01010030',
 'S01010031',
 'S01010032',
 'S01010033',
 'S01010034',
 'S01010035',
 'S01010036',
 'S01010037',
 'S01010038',
 'S01010039',
 'S01010040',
 'S01010041',
 'S01010042',
 'S01010043',
 'S01010044',
 'S01010045',
 'S01010046',
 'S01010047',
 'S01010048',
 'S01010049',
 'S01010050',
 'S01010051',
 'S01010052',
 'S01010053',
 'S01010054',
 'S01010055',
 'S01010056',
 'S01010057',
 'S01010058',
 'S01010059',
 'S01010060',
 'S01010061',
 'S01010062',
 'S01010063',
 'S01010064',
 'S01010065',
 'S01010066',
 'S01010067',
 'S01010068',
 'S01010069',
 'S01010070',
 'S01010071',
 'S01010072',
 'S01010073',
 'S01010074',
 'S01010075',
 'S01010076',
 'S01010077',
 'S01010078',
 'S01010079',
 'S01010080',
 'S01010081',
 'S01010082',
 'S01010083',
 'S01010084',
 'S01010085',
 'S01010086',
 'S01010087',
 'S01010088',
 'S01010089',
 'S01010090',
 'S01010091',
 'S01010092',
 'S01010093',
 'S01010094',
 'S01010095',
 'S01010096',
 'S01010097',
 'S01010098',
 'S01010099',
 'S01010100',
 'S01010101',
 'S01010102',
 'S01010103',
 'S01010104',
 'S01010105',
 'S01010106',
 'S01010107',
 'S01010108',
 'S01010109',
 'S01010110',
 'S01010111',
 'S01010112',
 'S01010113',
 'S01010114',
 'S01010115',
 'S01010116',
 'S01010117',
 'S01010118',
 'S01010119',
 'S01010120',
 'S01010121',
 'S01010122',
 'S01010123',
 'S01010124',
 'S01010125',
 'S01010126',
 'S01010127',
 'S01010128',
 'S01010129',
 'S01010130',
 'S01010131',
 'S01010132',
 'S01010133',
 'S01010134',
 'S01010135',
 'S01010136',
 'S01010137',
 'S01010138',
 'S01010139',
 'S01010140',
 'S01010141',
 'S01010142',
 'S01010143',
 'S01010144',
 'S01010145',
 'S01010146',
 'S01010147',
 'S01010148',
 'S01010149',
 'S01010150',
 'S01010151',
 'S01010152',
 'S01010153',
 'S01010154',
 'S01010155',
 'S01010156',
 'S01010157',
 'S01010158',
 'S01010159',
 'S01010160',
 'S01010161',
 'S01010162',
 'S01010163',
 'S01010164',
 'S01010165',
 'S01010166',
 'S01010167',
 'S01010168',
 'S01010169',
 'S01010170',
 'S01010171',
 'S01010172',
 'S01010173',
 'S01010174',
 'S01010175',
 'S01010176',
 'S01010177',
 'S01010178',
 'S01010179',
 'S01010180',
 'S01010181',
 'S01010182',
 'S01010183',
 'S01010184',
 'S01010185',
 'S01010186',
 'S01010187',
 'S01010188',
 'S01010189',
 'S01010190',
 'S01010191',
 'S01010192',
 'S01010193',
 'S01010194',
 'S01010195',
 'S01010196',
 'S01010197',
 'S01010198',
 'S01010199',
 'S01010200',
 'S01010201',
 'S01010202',
 'S01010203',
 'S01010204',
 'S01010205',
 'S01010207',
 'S01010208',
 'S01010209',
 'S01010210',
 'S01010211',
 'S01010212',
 'S01010213',
 'S01010214',
 'S01010215',
 'S01010216',
 'S01010217',
 'S01010218',
 'S01010219',
 'S01010220',
 'S01010221',
 'S01010222',
 'S01010223',
 'S01010224',
 'S01010225',
 'S01010226',
 'S01010227',
 'S01010228',
 'S01010229',
 'S01010230',
 'S01010231',
 'S01010232',
 'S01010233',
 'S01010234',
 'S01010235',
 'S01010236',
 'S01010237',
 'S01010238',
 'S01010239',
 'S01010240',
 'S01010241',
 'S01010242',
 'S01010243',
 'S01010244',
 'S01010245',
 'S01010246',
 'S01010247',
 'S01010248',
 'S01010249',
 'S01010250',
 'S01010251',
 'S01010252',
 'S01010253',
 'S01010254',
 'S01010255',
 'S01010256',
 'S01010257',
 'S01010258',
 'S01010259',
 'S01010260',
 'S01010261',
 'S01010262',
 'S01010263',
 'S01010264',
 'S01010265',
 'S01010266',
 'S01010267',
 'S01010268',
 'S01010269',
 'S01010270',
 'S01010271',
 'S01010272',
 'S01010273',
 'S01010274',
 'S01010275',
 'S01010276',
 'S01010277',
 'S01010278',
 'S01010279',
 'S01010280',
 'S01010281',
 'S01010282',
 'S01010283',
 'S01010284',
 'S01010285',
 'S01010286',
 'S01010287',
 'S01010288',
 'S01010289',
 'S01010290',
 'S01010291',
 'S01010292',
 'S01010293',
 'S01010294',
 'S01010295',
 'S01010296',
 'S01010297',
 'S01010298',
 'S01010299',
 'S01010300',
 'S01010301',
 'S01010302',
 'S01010303',
 'S01010304',
 'S01010305',
 'S01010306',
 'S01010307',
 'S01010308',
 'S01010309',
 'S01010310',
 'S01010311',
 'S01010312',
 'S01010313',
 'S01010314',
 'S01010315',
 'S01010316',
 'S01010317',
 'S01010318',
 'S01010319',
 'S01010320',
 'S01010321',
 'S01010322',
 'S01010323',
 'S01010324',
 'S01010325',
 'S01010326',
 'S01010327',
 'S01010328',
 'S01010329',
 'S01010330',
 'S01010331',
 'S01010332',
 'S01010333',
 'S01010334',
 'S01010335',
 'S01010336',
 'S01010337',
 'S01010338',
 'S01010339',
 'S01010340',
 'S01010341',
 'S01010342',
 'S01010343',
 'S01010344',
 'S01010345',
 'S01010346',
 'S01010347',
 'S01010348',
 'S01010349',
 'S01010350',
 'S01010351',
 'S01010352',
 'S01010353',
 'S01010354',
 'S01010355',
 'S01010356',
 'S01010357',
 'S01010358',
 'S01010359',
 'S01010360',
 'S01010361',
 'S01010362',
 'S01010363',
 'S01010364',
 'S01010365',
 'S01010366',
 'S01010367',
 'S01010368',
 'S01010369',
 'S01010370',
 'S01010371',
 'S01010372',
 'S01010373',
 'S01010374',
 'S01010375',
 'S01010376',
 'S01010377',
 'S01010378',
 'S01010379',
 'S01010380',
 'S01010381',
 'S01010382',
 'S01010383',
 'S01010384',
 'S01010385',
 'S01010386',
 'S01010387',
 'S01010388',
 'S01010389',
 'S01010390',
 'S01010391',
 'S01010392',
 'S01010393',
 'S01010394',
 'S01010395',
 'S01010396',
 'S01010397',
 'S01010398',
 'S01010399',
 'S01010400',
 'S01010401',
 'S01010402',
 'S01010403',
 'S01010404',
 'S01010405',
 'S01010406',
 'S01010407',
 'S01010408',
 'S01010409',
 'S01010410',
 'S01010411',
 'S01010412',
 'S01010413',
 'S01010414',
 'S01010415',
 'S01010416',
 'S01010417',
 'S01010418',
 'S01010419',
 'S01010420',
 'S01010421',
 'S01010422',
 'S01010423',
 'S01010424',
 'S01010425',
 'S01010426',
 'S01010427',
 'S01010428',
 'S01010429',
 'S01010430',
 'S01010431',
 'S01010432',
 'S01010433',
 'S01010434',
 'S01010435',
 'S01010436',
 'S01010437',
 'S01010438',
 'S01010439',
 'S01010440',
 'S01010441',
 'S01010442',
 'S01010443',
 'S01010444',
 'S01010445',
 'S01010446',
 'S01010447',
 'S01010448',
 'S01010449',
 'S01010450',
 'S01010451',
 'S01010452',
 'S01010453',
 'S01010454',
 'S01010455',
 'S01010456',
 'S01010457',
 'S01010458',
 'S01010459',
 'S01010460',
 'S01010461',
 'S01010462',
 'S01010463',
 'S01010464',
 'S01010465',
 'S01010466',
 'S01010467',
 'S01010468',
 'S01010469',
 'S01010470',
 'S01010471',
 'S01010472',
 'S01010473',
 'S01010474',
 'S01010475',
 'S01010476',
 'S01010477',
 'S01010478',
 'S01010479',
 'S01010480',
 'S01010481',
 'S01010482',
 'S01010483',
 'S01010484',
 'S01010485',
 'S01010486',
 'S01010487',
 'S01010488',
 'S01010489',
 'S01010490',
 'S01010491',
 'S01010492',
 'S01010493',
 'S01010494',
 'S01010495',
 'S01010496',
 'S01010497',
 'S01010498',
 'S01010499',
 'S01010500',
 'S01010501',
 'S01010502',
 'S01010503']

In [62]:
test = list(df_poi_category.loc['S01009775']['count'])
test

[41, 28, 27, 17, 15, 11, 11, 8, 7, 6, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

#### Shannon entropy

In [63]:
#shannon entropy
import math
poi_shannon = []
for dz in dz_list:
    shannon_entropy_value = 0
    summa = df_poi_category.loc[dz]['count'].sum()
    count_list =  list(df_poi_category.loc[dz]['count'])
    for i in count_list:
        p_i = i/summa
        entropy_i = p_i * (math.log(p_i, 2))
        shannon_entropy_value += entropy_i
    shannon_entropy_value = round(shannon_entropy_value,2)
    poi_shannon.append(-shannon_entropy_value)
print(poi_shannon)
#https://onestopdataanalysis.com/shannon-entropy/

[1.0, 2.42, 4.07, 2.52, 3.33, 1.92, 2.32, 2.87, 2.0, 3.92, 3.4, 3.33, 1.66, 1.79, 2.52, 1.58, 1.66, 3.44, 1.41, 1.0, 2.12, 3.22, 1.79, 2.97, 2.25, 1.96, 1.66, 3.37, 3.12, 3.19, 1.92, 2.02, 2.16, 3.07, 2.24, 2.5, 1.46, 1.41, 2.25, 3.24, 1.58, 2.91, 2.69, 1.84, 1.96, 2.35, 2.86, 3.16, 3.36, 1.58, 2.52, 2.72, 1.5, 3.03, 1.92, 1.5, 3.12, -0.0, 2.24, 2.65, 3.3, 3.65, 3.45, 2.57, 1.0, 2.66, 2.84, 2.7, 2.25, 1.25, 0.92, 2.19, 3.12, 1.5, 3.4, 4.31, 3.56, 3.5, 1.83, 2.01, 2.85, 2.98, 3.28, 2.95, 4.04, 4.24, 3.81, 2.91, 3.29, 4.25, 3.49, 3.2, 2.73, 3.57, 3.51, 2.58, 2.47, 1.92, 1.92, 1.45, 1.66, 3.4, 4.32, 4.56, 4.58, 3.11, 3.27, 3.17, 3.35, 4.67, 3.24, 2.94, 3.35, 4.37, 3.57, 3.63, 2.46, 3.51, 0.92, 2.43, 3.41, 2.33, 1.89, 3.22, 4.02, 4.23, 2.62, 2.92, 3.13, 3.13, 2.86, 3.66, 3.44, 3.16, 3.84, 3.29, 3.61, 3.78, 2.74, 4.12, 3.97, 2.55, 2.95, 3.1, 3.03, 2.54, 3.9, 3.39, 3.27, 3.4, 3.28, 3.96, 2.05, 2.81, 2.66, 3.32, 3.51, 3.64, 3.05, 2.25, 2.5, 3.72, 2.85, 3.28, 3.44, 1.92, 3.28, 3.01, 3.47, 1.5, 1.92, 3.02, 3.42, -0.0, 2.95, 3.09, 3.73, 3.85, 2.96, 4.07, 4.01, 1.81, 2.71, 1.92, 2.22, 2.56, 2.3, 3.76, 1.92, 2.32, 1.79, 2.62, 2.72, 3.32, 2.15, 2.12, 2.66, 3.47, 2.6, 2.13, 1.3, 2.73, 3.72, 2.41, 3.72, 1.5, 3.48, 2.0, 2.06, 2.69, 2.95, 3.86, 0.97, 1.75, 3.66, 1.52, 1.5, 3.05, 1.0, 2.17, 1.9, 2.35, 4.19, 2.86, 2.89, 1.58, 2.86, 2.52, -0.0, 3.16, -0.0, 3.03, 1.5, 2.16, 1.77, 2.2, 2.25, -0.0, 3.2, 1.0, 2.91, 2.13, 1.38, 2.84, 0.72, 1.5, 1.88, 2.73, 3.32, 3.03, 3.6, 3.72, 3.03, 3.46, 3.32, 3.61, 3.37, 3.64, 1.37, 1.5, 3.24, 2.41, 1.7, 3.97, 3.68, 2.32, 3.68, 3.44, 2.55, 1.9, 3.16, 3.76, 2.81, 4.17, 4.54, 4.03, 4.1, 3.62, 2.52, 2.4, 3.73, 4.23, 4.45, 3.61, 3.68, 3.44, 2.61, 2.92, 4.07, 1.95, 2.72, 3.26, 3.52, 3.5, 3.89, 4.28, 4.22, 4.65, 3.27, 2.32, 1.52, 3.26, 3.68, 2.95, 3.29, 3.88, 2.85, 2.66, 1.5, 3.26, 3.5, 3.86, 0.92, 4.37, 2.83, 1.96, 3.82, 1.0, 2.86, 2.65, 2.32, 2.88, 2.72, 3.53, 3.08, 1.5, 2.85, 2.66, 2.48, -0.0, 2.96, 3.57, 3.01, 2.85, 2.07, 3.32, 3.64, 2.42, 3.28, 3.58, 3.01, 2.57, 2.69, 3.7, 2.81, 3.93, 2.85, 1.92, 2.87, 2.0, 2.28, 2.35, 2.64, 3.41, 2.41, 1.95, 3.68, 0.92, 2.02, 3.46, 3.62, 2.61, 0.99, -0.0, 3.66, 2.13, 1.5, 0.92, 2.73, 2.86, 0.92, 4.32, 3.4, 3.43, 3.4, 2.23, 1.92, 0.92, 3.53, 3.04, 2.0, 3.87, 4.23, 3.61, 3.14, 0.72, 2.56, 2.87, 1.92, 3.68, 4.06, 2.97, 3.49, 1.37, 2.68, 3.52, 1.77, 2.91, 1.88, 1.25, 2.65, 2.9, 2.58, 3.25, 2.46, 2.42, 2.81, 2.25, 2.15, 2.71, 2.16, 3.41, 1.46, 2.61, 2.52, 2.52, 1.88, 3.42, 1.36, 2.95, 3.41, 1.0, 3.1, 2.41, 2.16, 0.65, 3.04, 2.93, 1.0, -0.0, 3.56, 2.65, 2.95, 1.58, 1.85, 3.28, 1.1, 1.58, 2.8, 2.28, 2.42, 1.79, 3.36, 2.01, 3.1, 0.65, 1.0, 0.92, 2.25, 4.64, 2.91, 3.25, 3.25, 3.97, 1.16, 1.38, 3.48, 1.58, 2.58, 2.6, 2.06, 4.39, 3.8, 2.74, 3.02, 3.86, 4.54, -0.0, 2.16, 3.29, 3.38, 2.73, 2.85, 3.35, 1.62, 3.83, 3.75, 3.13, 2.92, 3.6, 1.0, 2.98, 3.89, 2.86, 2.09, 3.68, 3.78, 2.0, 2.91, 2.0, 3.41, 3.51, 1.5, 3.67, 1.0, 3.79, 1.92, 3.38, 4.32, 2.28, 3.65, 4.51, 4.05, 3.78, 3.67, 4.16, 4.14, 3.52, 4.47, 2.0, 3.0, 3.72, 4.16, 4.48, 4.12, 3.92, 4.17, 4.2, 3.11, 3.54, 3.43, 4.01, 3.71, 2.98, 4.58, 3.57, 3.65, 3.35, 3.15, 3.74, 4.22, 4.0, 3.35, 3.12, 2.79, 2.82, 3.95, 4.02, 4.53, 3.33, 2.36, 3.63, 4.01, 2.19, 1.79, 3.55, 3.62, 2.87, 1.92, 4.27, 1.0, 3.5, 3.43, 3.2, 2.34, 4.15, 2.58, 3.24, 3.53, 3.56, 3.9, 4.03, 4.02, 2.81, 3.47, 2.75, 2.16, 2.9, 3.35, 4.18, 1.15, -0.0, 2.68, 2.4, 3.73, 3.76, 2.57, 2.9, 2.73, 1.92, 2.12, 2.95, 2.25, 1.52, 1.37, 1.62, 3.42, 3.27, 3.94, 2.42, 3.52, 1.0, 3.43, 0.65, 2.53, 2.42, 2.06, 4.22, 3.01, 2.37, 3.7, 3.27, 2.29, 2.24, 2.76, 3.34, 2.88, 2.85, 2.58, 3.03, 2.92, 3.18, 3.58, -0.0, -0.0, 2.85, 3.43, 3.6, 3.62, 1.58, 3.92, 3.32, 2.81, 2.9, 3.47, 3.98, 2.25, 3.72, 3.48, 3.79, 2.82, 3.25, 3.99, 3.03, 3.54, 1.49, 2.63, 3.85, 2.32, 3.36, 2.81, 3.57, 3.44, 2.93, 3.75, 2.91, 2.79, 2.24, 3.28, 2.97, 1.65, 2.6, 3.52, 3.59, 2.41, 3.79, 2.95, 3.5, 3.77, 3.25, 1.79, 2.06, 3.18, 2.4, 3.36, 4.31, 3.69, 1.52, 2.5, 1.72, 2.19, -0.0, 3.0, 3.16, 2.32, -0.0, 3.61, 4.32, -0.0, 1.79, 3.54, 4.24, 3.13, 3.4, 1.5, 3.1, 2.72, 1.5, 2.73, 3.02, 1.96, 2.72, 3.32, 2.25, 2.25, 1.52, 2.45, 2.32, 2.08, 2.14, 3.06, 2.16, 2.36, -0.0, 2.13, 1.0, 3.43, 3.2, 3.25, 2.73, 3.82, 2.97, 2.75, 4.06, 3.49, 2.5, 3.12, 3.75, 2.87, 1.99, 2.26, 3.08, 0.92, 2.56, 2.28, 1.45, 3.54, 3.6, 3.14, 2.2, 4.35, 1.49, 2.26, 2.23, 1.79, 2.87, 3.24, 2.66, 3.17, 1.42, 3.62, 3.08, 2.41, 2.25, 3.11]

#### Simpson index

In [64]:
#simpson index
poi_simpson = []
for dz in dz_list:
    sum_simpson_i = 0
    summa = df_poi_category.loc[dz]['count'].sum()
    count_list =  list(df_poi_category.loc[dz]['count'])
    for i in count_list:
        s_i = i/summa
        simpson_i = s_i**2
        sum_simpson_i += simpson_i
        simpson_index = 1-sum_simpson_i
        simpson_index = round(sum_simpson_i,2)
    poi_simpson.append(simpson_index)
print(poi_simpson)

[0.5, 0.24, 0.07, 0.18, 0.11, 0.28, 0.2, 0.17, 0.25, 0.11, 0.11, 0.13, 0.39, 0.33, 0.18, 0.33, 0.39, 0.12, 0.41, 0.5, 0.31, 0.13, 0.33, 0.15, 0.22, 0.32, 0.39, 0.11, 0.13, 0.14, 0.28, 0.32, 0.25, 0.17, 0.22, 0.22, 0.39, 0.41, 0.22, 0.13, 0.33, 0.16, 0.24, 0.31, 0.32, 0.26, 0.15, 0.13, 0.13, 0.33, 0.18, 0.17, 0.38, 0.13, 0.28, 0.38, 0.15, 1.0, 0.22, 0.18, 0.12, 0.1, 0.11, 0.2, 0.5, 0.17, 0.15, 0.2, 0.22, 0.5, 0.56, 0.27, 0.12, 0.38, 0.11, 0.07, 0.09, 0.1, 0.35, 0.28, 0.16, 0.17, 0.14, 0.15, 0.08, 0.07, 0.1, 0.16, 0.11, 0.07, 0.11, 0.15, 0.22, 0.1, 0.12, 0.19, 0.23, 0.28, 0.28, 0.48, 0.38, 0.11, 0.07, 0.06, 0.05, 0.14, 0.11, 0.11, 0.12, 0.05, 0.12, 0.15, 0.12, 0.06, 0.11, 0.1, 0.26, 0.12, 0.56, 0.28, 0.12, 0.27, 0.33, 0.12, 0.08, 0.07, 0.18, 0.15, 0.14, 0.14, 0.2, 0.1, 0.11, 0.15, 0.08, 0.16, 0.09, 0.09, 0.17, 0.07, 0.08, 0.21, 0.14, 0.16, 0.15, 0.2, 0.08, 0.14, 0.15, 0.12, 0.2, 0.08, 0.35, 0.14, 0.17, 0.14, 0.1, 0.11, 0.14, 0.22, 0.19, 0.1, 0.16, 0.15, 0.11, 0.28, 0.15, 0.17, 0.1, 0.38, 0.28, 0.16, 0.1, 1.0, 0.14, 0.14, 0.09, 0.08, 0.16, 0.09, 0.08, 0.31, 0.2, 0.28, 0.25, 0.2, 0.24, 0.08, 0.28, 0.22, 0.38, 0.18, 0.16, 0.11, 0.29, 0.36, 0.2, 0.11, 0.2, 0.27, 0.47, 0.16, 0.08, 0.21, 0.1, 0.38, 0.1, 0.25, 0.28, 0.17, 0.16, 0.08, 0.52, 0.39, 0.12, 0.36, 0.38, 0.15, 0.5, 0.24, 0.33, 0.26, 0.07, 0.16, 0.19, 0.33, 0.17, 0.18, 1.0, 0.12, 1.0, 0.14, 0.38, 0.3, 0.4, 0.23, 0.22, 1.0, 0.12, 0.5, 0.19, 0.27, 0.43, 0.16, 0.68, 0.38, 0.36, 0.18, 0.14, 0.15, 0.1, 0.1, 0.14, 0.1, 0.14, 0.1, 0.12, 0.1, 0.44, 0.38, 0.12, 0.2, 0.42, 0.08, 0.12, 0.24, 0.1, 0.11, 0.21, 0.33, 0.12, 0.09, 0.14, 0.08, 0.06, 0.08, 0.07, 0.1, 0.21, 0.26, 0.1, 0.07, 0.06, 0.1, 0.1, 0.12, 0.18, 0.14, 0.09, 0.27, 0.19, 0.14, 0.1, 0.11, 0.09, 0.08, 0.06, 0.05, 0.13, 0.2, 0.36, 0.12, 0.1, 0.17, 0.11, 0.09, 0.16, 0.21, 0.38, 0.14, 0.09, 0.08, 0.56, 0.07, 0.2, 0.32, 0.1, 0.5, 0.15, 0.21, 0.24, 0.17, 0.16, 0.1, 0.16, 0.38, 0.17, 0.17, 0.22, 1.0, 0.19, 0.12, 0.17, 0.21, 0.38, 0.12, 0.1, 0.21, 0.12, 0.1, 0.13, 0.19, 0.21, 0.1, 0.14, 0.09, 0.16, 0.28, 0.17, 0.31, 0.26, 0.31, 0.22, 0.12, 0.24, 0.31, 0.09, 0.56, 0.29, 0.13, 0.09, 0.22, 0.51, 1.0, 0.1, 0.27, 0.38, 0.56, 0.18, 0.15, 0.56, 0.07, 0.12, 0.11, 0.11, 0.25, 0.33, 0.56, 0.1, 0.14, 0.31, 0.09, 0.06, 0.1, 0.14, 0.68, 0.2, 0.16, 0.28, 0.1, 0.07, 0.15, 0.1, 0.44, 0.22, 0.11, 0.4, 0.17, 0.36, 0.5, 0.19, 0.2, 0.17, 0.12, 0.19, 0.21, 0.2, 0.25, 0.29, 0.18, 0.24, 0.11, 0.39, 0.22, 0.2, 0.21, 0.35, 0.12, 0.42, 0.15, 0.14, 0.5, 0.13, 0.22, 0.3, 0.72, 0.15, 0.15, 0.5, 1.0, 0.12, 0.18, 0.14, 0.33, 0.3, 0.13, 0.57, 0.33, 0.18, 0.25, 0.22, 0.32, 0.12, 0.34, 0.14, 0.72, 0.5, 0.56, 0.25, 0.05, 0.19, 0.14, 0.12, 0.08, 0.54, 0.43, 0.1, 0.33, 0.19, 0.19, 0.28, 0.06, 0.1, 0.2, 0.14, 0.09, 0.06, 1.0, 0.25, 0.14, 0.13, 0.16, 0.21, 0.12, 0.39, 0.09, 0.08, 0.13, 0.14, 0.11, 0.5, 0.15, 0.09, 0.17, 0.26, 0.1, 0.09, 0.25, 0.14, 0.25, 0.12, 0.11, 0.38, 0.09, 0.5, 0.09, 0.28, 0.12, 0.06, 0.24, 0.1, 0.06, 0.08, 0.1, 0.16, 0.09, 0.09, 0.11, 0.07, 0.25, 0.16, 0.14, 0.08, 0.06, 0.08, 0.1, 0.09, 0.07, 0.15, 0.1, 0.14, 0.08, 0.11, 0.2, 0.05, 0.1, 0.11, 0.12, 0.2, 0.1, 0.08, 0.07, 0.15, 0.17, 0.16, 0.19, 0.08, 0.08, 0.06, 0.14, 0.22, 0.11, 0.07, 0.24, 0.33, 0.1, 0.11, 0.15, 0.28, 0.06, 0.5, 0.1, 0.11, 0.13, 0.24, 0.08, 0.19, 0.11, 0.12, 0.1, 0.09, 0.07, 0.07, 0.16, 0.1, 0.21, 0.25, 0.17, 0.12, 0.07, 0.61, 1.0, 0.19, 0.22, 0.1, 0.1, 0.21, 0.16, 0.16, 0.28, 0.31, 0.15, 0.22, 0.36, 0.44, 0.49, 0.15, 0.12, 0.1, 0.21, 0.11, 0.5, 0.13, 0.72, 0.23, 0.21, 0.28, 0.06, 0.16, 0.22, 0.12, 0.13, 0.24, 0.22, 0.17, 0.12, 0.16, 0.16, 0.2, 0.15, 0.14, 0.12, 0.1, 1.0, 1.0, 0.17, 0.13, 0.1, 0.13, 0.33, 0.1, 0.11, 0.25, 0.17, 0.13, 0.09, 0.22, 0.11, 0.14, 0.11, 0.17, 0.11, 0.09, 0.14, 0.1, 0.45, 0.21, 0.09, 0.2, 0.13, 0.14, 0.11, 0.11, 0.16, 0.09, 0.14, 0.17, 0.22, 0.14, 0.17, 0.36, 0.21, 0.11, 0.1, 0.22, 0.09, 0.15, 0.09, 0.09, 0.13, 0.33, 0.28, 0.12, 0.23, 0.12, 0.06, 0.11, 0.36, 0.19, 0.43, 0.24, 1.0, 0.12, 0.14, 0.2, 1.0, 0.1, 0.06, 1.0, 0.33, 0.1, 0.07, 0.13, 0.11, 0.38, 0.13, 0.16, 0.38, 0.16, 0.13, 0.32, 0.17, 0.12, 0.22, 0.22, 0.36, 0.2, 0.2, 0.28, 0.29, 0.13, 0.25, 0.22, 1.0, 0.29, 0.5, 0.12, 0.14, 0.13, 0.16, 0.09, 0.15, 0.21, 0.07, 0.11, 0.19, 0.14, 0.1, 0.15, 0.3, 0.24, 0.14, 0.56, 0.2, 0.25, 0.48, 0.09, 0.1, 0.12, 0.23, 0.06, 0.44, 0.3, 0.28, 0.33, 0.18, 0.13, 0.2, 0.18, 0.49, 0.1, 0.15, 0.23, 0.22, 0.14]

#### Richness

In [65]:
series_category = df.groupby('DataZone')['categoryname'].unique()

df_category = list(series_category)

category_count = []
for i in df_category:
    category_c = len(i)
    category_count.append(category_c)

In [66]:
dic_final = {'DataZone':dz_list,'Richness':category_count,'Shannon entropy':poi_shannon,'Simpson index':poi_simpson}
df_final = pd.DataFrame(dic_final)
df_final

      DataZone  Richness  Shannon entropy  Simpson index
0    S01009758         2             1.00           0.50
1    S01009759         7             2.42           0.24
2    S01009760        22             4.07           0.07
3    S01009761         6             2.52           0.18
4    S01009762        11             3.33           0.11
..         ...       ...              ...            ...
740  S01010499        17             3.62           0.10
741  S01010500        11             3.08           0.15
742  S01010501         7             2.41           0.23
743  S01010502         5             2.25           0.22
744  S01010503        12             3.11           0.14

[745 rows x 4 columns]

In [67]:
df_final = pd.merge(df_final, df2, on='DataZone')
df_final

,DataZone,Richness,Shannon entropy,Simpson index,Join_Count,Shape_Area,poi_ratio
0,S01009758,2,1.00,0.50,2,78490.309008,25.480853
1,S01009759,7,2.42,0.24,20,136091.515542,146.959933
2,S01009760,22,4.07,0.07,72,332345.088422,216.642287
3,S01009761,6,2.52,0.18,8,156078.015080,51.256418
4,S01009762,11,3.33,0.11,20,150737.851165,132.680676
...,...,...,...,...,...,...,...
740,S01010499,17,3.62,0.10,76,244941.600066,310.278042
741,S01010500,11,3.08,0.15,28,218303.033646,128.262075
742,S01010501,7,2.41,0.23,19,233830.299216,81.255509
743,S01010502,5,2.25,0.22,8,241424.225068,33.136691
744,S01010503,12,3.11,0.14,34,204458.577799,166.292852

In [70]:
df_final

,DataZone,Richness,Shannon entropy,Simpson index,Join_Count,Shape_Area,poi_ratio
0,S01009758,2,1.00,0.50,2,78490.309008,25.480853
1,S01009759,7,2.42,0.24,20,136091.515542,146.959933
2,S01009760,22,4.07,0.07,72,332345.088422,216.642287
3,S01009761,6,2.52,0.18,8,156078.015080,51.256418
4,S01009762,11,3.33,0.11,20,150737.851165,132.680676
...,...,...,...,...,...,...,...
740,S01010499,17,3.62,0.10,76,244941.600066,310.278042
741,S01010500,11,3.08,0.15,28,218303.033646,128.262075
742,S01010501,7,2.41,0.23,19,233830.299216,81.255509
743,S01010502,5,2.25,0.22,8,241424.225068,33.136691
744,S01010503,12,3.11,0.14,34,204458.577799,166.292852

In [68]:
df_final.to_csv('POI_diversity.csv')